@model InventoryManagementSystem.Models.Billing

@{
    ViewBag.Title = "Billing";
}

@section content{
    <div class="row">
        @if (ViewBag.Error != null)
        {
            <div id="main-alert" class="alerts">
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            </div>
        }
    </div>

    <div class="page">
        <div class="page-content d-flex align-items-stretch">
            <div class="col-lg-12">
                <section class="tables">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4">Details</h3>
                                    </div>

                                    <div class="card-body">
                                        <div id ="div_print" class="invoice-box">
                                            <table cellpadding="0" cellspacing="0">
                                                <tr class="top">
                                                    <td colspan="3">
                                                        <table>
                                                            <tr>
                                                                <td class="title">
                                                                    <h2>Our Shop</h2><br>
                                                                                     <h4>Pan No: 1234567890</h4>
                                                                </td>

                                                                <td>
                                                                    <h4>INVENTORY MS</h4> <br>
                                                                    Location: Satdobato<br>
                                                                    Pan No: 1234567890<br>
                                                                    Phone No: 9860908329
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr class="information">
                                                    <td colspan="2">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                   Invoice No.: @Html.DisplayFor(model => model.SalesID)
                                                                </td>

                                                                <td>
                                                                   Date : @Html.DisplayFor(model => model.BillingDate)
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <div class="table-responsive">
                                                <table class="table table-striped">
                                                <thead>
                                                    <tr>

                                                        <th>
                                                            Product Name
                                                        </th>
                                                        <th>
                                                            Price Per Item
                                                        </th>
                                                        <th>
                                                            Quantity
                                                        </th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in ViewBag.GetBill)
                                                        {
                                                            <tr>

                                                                <td>
                                                                    @item.ProductName
                                                                </td>

                                                                <td style="text-align: left">
                                                                    @item.PricePerItem
                                                                </td>



                                                                <td>
                                                                    @item.Quantity
                                                                </td>


                                                            </tr>
                                                        }
                                                </tbody>
                                            </table>


                                                <tr class="total">
                                                    <td>Tax Included</td>

                                                    <td>
                                                        <b>Total: @Html.DisplayFor(model => model.BillingAmount)</b>
                                                    </td>
                                                </tr>
                                            </table>
                                            
                                        </div>
                                        

                                        <input name="b_print" type="button" class="ipt btn btn-success" onClick="printdiv('div_print');" value=" Print ">
                                        
                                            <p> @Html.ActionLink("Back to List", "Index")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </section>
            </div>
        </div>
    </div>
}

