@model IEnumerable<InventoryManagementSystem.Models.UserAccounts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType.UserTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType.UserTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserAccountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserAccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserAccountID })
        </td>
    </tr>
}

</table>
